* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(216, 216, 216);
}

.header {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.headerInput {
    position: relative;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 30px;
    padding-left: 5px;
    margin: 10px 0 0 20px;
}

.headerBtn {
    position: absolute;
    border: none;
    border-radius: 5px;
    background-color: rgb(144, 202, 224);
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(48, 48, 48);
    margin: 10px 0 0 10px;
    padding: 0 5px;
}

.theList {
    position: absolute;
    margin-top: 60px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.theListItem {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(000, 000, 000, 0.5);
    border-radius: 5px;
    margin-top: 3px;

    &__descrit {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__name {
        position: relative;
    }

    &__temp {
        font-size: 40px;
        color: rgb(0, 0, 0)
    }

    &__img {
        position: absolute;
        left: 40%;
    }

    &__btn {
        width: 22px;
        font-size: 15px;
        position: absolute;
        right: 10px;
        border: none;
        background-color: inherit;
    }

    &__expand {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}