.geoLocItem {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    justify-items: center;
    grid-template-areas: 
        "temp img"
        "city link"
    ;
    &__temp {
        grid-area: temp;
        font-size: 3em;
        color: rgb(0, 0, 0)
    }

    &__img {
        grid-area: img;
        justify-self: center;
    }
    &__name {
        grid-area: city;
    }
    &__expand {
        grid-area: link;
        text-decoration: none;
        color:rgb(0, 0, 0);
    }
}